* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background: var(--stroke-color);
    color: var(--fill-color);
    font-family: 'Merriweather', sans-serif;
}

/* Variaveis */
:root {
    --stroke-color: #706f7c;
    --fill-color: #837E9F;
    --fill-border: #000000;
    --stroke-box: #302F3D;
    --border-img: #00ff00;
    --btn-item: #CB92B1;
    --shadow-color: #181717;
}
/* Aside */

#container-page {
    display: flex;
    justify-content: center;
    
}

#container-back {
    flex-basis: 25%;
}

#container-main {
    flex-grow: 2;
}

/* Profile */
.container {
    background-color: var(--stroke-box);
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 20px;
    margin: 40px 0 0 40px;
} 

#profile-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 292px;
}
#img-profile {
    margin: 32px 110px 0;
    width: 128px;
    height: 128px;
    border: 2px solid var(--border-img);
    border-radius: 50%;
}

#name-profile {
    text-shadow: 2px 2px 2px #000000;
    margin: 30px 76px 0;
    font-size: 23px;
}

#subtitle-profile {
    margin: 10px 110px;
    font-size: 13px;
}


/* link Container */
#link-container {
    display: flex;
    align-items: center;
    height: 280px;
    
}

.aside-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 34px;

}

.list-items {
    list-style: none;
}

li a svg {
    width: 24px;
    margin: 0 20px;
}
ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--fill-color);
}

/* List teck-container */

.list-tech {
    height: 170px;
}

.title-box  {
    color: greenyellow;
    padding: 30px 0 20px 20px;
    font-size: 20px;
}

.list-btn-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 13px;
       
}


.btn-items  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-item);
    border-radius: 10px;
    color: #000000;
    width: 86px;
    height: 24px; 
    
}

/* Experiencer Box */



.list-experience{
    margin-right: 30px;
    padding: 0 0 20px 80px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.exper-items {
    text-align: left;
    font-weight: 700;
}

.ul-exper-subitems {
    list-style: none;
    padding-bottom: 12px; 
}

.exper-subitems {
    font-size: 12px;
}


/* Main */

#container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 40px 40px 0 60px;
    /* padding: 40px 40px 0 60px; */
    width: 986px;
}

.container-main {
    background-color: var(--stroke-box);
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 20px;
    height: 86px;
    padding: 30px;
    
} 
.box-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.box-projects strong {
    font-weight: 600;
    font-size: 20px;
}

.box-projects p {
    font-weight: 400;
    font-size: 14px;
}
.container-folder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.my-folder {
    
    height: 186px;
}

.title-box-main {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;  
}
/*

.title-box-main svg {
    color: #00ff00;
    width: 36px;  
} */
    
#footer {
    margin: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--stroke-color);
}