@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Open+Sans:ital,wght@0,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--fill-color);
    font-family: 'Merriweather', sans-serif;
    box-sizing: border-box;
    
    
}

:root {
    --stroke-color: #22212c;
    --fill-color: #837E9F;
    --fill-border: #000000;
    --stroke-box: #302F3D;
    --border-img: #00ff00;
    --btn-item: #CB92B1;
    --shadow-color: #181717;
}

.container {
    background-color: var(--stroke-box);
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 20px;
    width: 348px;
    margin: 40px 0 0 40px;
} 

.container h2 {
    
    margin: 30px 0 0 20px;
    font-size: 20px;
}

/* Profile */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    height: 100%;
    background-color: var(--stroke-color);
}
 
#name-profile {
    text-shadow: 2px 2px 2px #000000;
    
}

#img-profile {
    margin: 32px 110px 0;
    width: 128px;
    height: 128px;
    border: 2px solid var(--border-img);
    border-radius: 50%;
}

#profile-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 292px;
}

#name-profile {
    margin: 30px 76px 0;
    font-size: 23px;
   
}

#subtitle-profile {
    margin: 10px 110px;
    font-size: 13px;
}

/* link Container */
#link-container {
    display: flex;
    align-items: center;
    height: 280px;
    
}

.aside-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 34px;

}

.list-items {
    list-style: none;
}

li a svg {
    width: 24px;
    margin: 0 20px;
}
ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

/* List Box */

.list-tech {
    height: 160px;
}

#list-btn {
    display: flex;
    margin: 20px;
    
}
.list-btn-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 13px;
       
}

.btn-items  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-item);
    border-radius: 10px;
    color: #000000;
    width: 86px;
    height: 24px; 
    
}

/* Experiencer Box */

#title-experience {
    margin: 30px 20px;
    font-size: 20px;
}

.list-experience{
    margin: 20px 80px;
    font-size: 14px;
    
}

.exper-items {
    margin: 0 0px;
    font-weight: 700;
}

.ul-exper-subitems {
    list-style: none;
    margin: 0 0 12px 0px; 
}

.exper-subitems {
    font-size: 12px;
}

#footer {
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--stroke-color);
}

#main-container {
    
}